<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">

   <title>Grid System</title>

   <meta name=”description” content=””> <!-- Max. 155 chars -->
   <meta name="keywords" content=""> <!-- Seperate by comma -->
   <meta name="author" content="Arne Turpyn">
   <link rel="author" href="http://arneturpyn.com/">

   <!-- Facebook Open Graph -->
   <meta property=”og:type” content=”article”/> <!-- Type, leave as it is -->
   <meta property=”og:title” content=”title”/> <!-- Title of the page -->
   <meta property=”og:description” content=”description”/> <!-- Description of the page -->
   <meta property=”og:image” content=”thumbnail-url”/> <!-- Thumnail url -->
   <meta property=”og:url” content=”url”/> <!-- Url to the page -->

   <!-- Twitter Cards -->
   <meta name=”twitter:card” content=”summary”> <!-- Type, leave as it is -->
   <meta name=”twitter:title” content=""> <!-- Title of the page -->
   <meta name=”twitter:description” content=””> <!-- Description of the page -->
   <meta name=”twitter:image” content=””> <!-- Thumnail url -->
   <meta name=”twitter:url” content=""> <!-- Url to the page -->

   <!-- Stylesheets -->
   <link rel="stylesheet" href="css/vendor/reset.css">
   <link rel="stylesheet" href="css/stew/stew.css">
</head>
<body>


   <nav class="navbar">
      <div class="container">
         <div class="navbar-header">
            <button class="hamburger" data-target="#primary-nav">
               <div class="line"></div>
               <div class="line"></div>
               <div class="line"></div>
            </button>
         </div>
         <div class="navigation" id="primary-nav">
            <ul class="clearfix">
               <li class="active"><a href="#">Home</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Photos</a></li>
               <li><a href="#">Videos</a></li>
               <li><a href="#">Contact</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <!-- Scripts -->
   <script src="js/stew/stew.min.js"></script>
   <script src="js/script.js"></script>
</body>
</html>
